

nav ul { 
  display: flex;
 flex-direction: row;
 justify-content: left;
 }

 nav ul a {
margin-right: 1em;
 }

nav {
  width: 100vw;
  background-color:aquamarine ;
  font-size: 17px;
  float: left;
  padding: 15px;
  margin-top: 0;

}
nav ul a:hover {
  color:bisque
  
}

form {
  text-align: center;
  font-size: 22px;
  padding: 1em;
  display: block;
  flex-direction: column;
 
} 




